.headingBox{
  width: fit-content;
  margin: auto;
  
}

.formHeading{
  color: black; 
  padding-bottom: .3rem;
  border-bottom: 2px solid #bd960a;
 text-align: center;
 letter-spacing: 1px;
 font-size: 2.5rem;

}
.sub_head {
  font-size: 14px;
  margin-top: -28px;
}