.btn_name,.btn_name:focus,.btn_name::after,.btn_name:active{
 font-size: 1rem;
 letter-spacing: 1px;
 font-weight: 500; 
 border-radius: 0;
 outline: none!important;
}

.list,.list:focus{
  border-radius: 0;
  outline: none!important;
}

.list_item{
  padding: 8px;
}
.list_item:hover{
  background-color:#bd960a ;
  margin: 0 2px;
  color: white;
  cursor: pointer;
}



/* ----------------------MEDIA QUERIES---------------------------- */

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .btn_name{
    font-size: 10px;
  }
}