.image_preview {}

.img_val {
  width: 500px;
  max-height: 500px !important;
  object-fit: contain;
}

.payment_btn {
  background-color: #bd960a;
  color: white;
}

.payment_btn:hover {
  background-color: #daad0c;
  color: white;
}

/* 
.processing_bar {
  display: none;
} */